
.app-wrapper {
padding: 0px;
margin: 0px;
display: grid;
grid-template-areas: 
'me navbar navbar'
'me content content';
grid-template-rows: 2fr 10fr;
grid-template-columns: 2fr 10fr;
}
.app-wrapper-contetnt{
  background-color: rgb(46, 215, 245);
  padding: 20px ;
  grid-area: content;

}
  


